/* SITE FONTS  */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
    url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* CUSTOM PROPERTY */

:root {
  --text-color: #333;
  --brand-color: #ea625c;
  --brand-hover-color: #C9514C;
  --bgcolor: #fff;
  --black-color: #000;
  --all-text-wraper-text: #777;
}


/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: var(--brand-color) 1px dashed;
  outline-offset: 3px;
}

html {
  height: 100%;
  scroll-behavior: smooth;

}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bgcolor);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color)
}


/* contayner styles */
.contayner {
  width: 100%;
  max-width: 1040px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* contayner styles end*/

/* button styles */

.site-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 38.5px;
  background-color: var(--brand-color);
  display: inline-block;
}

.site-btn:hover {
  background-color: var(--brand-hover-color);
}
/* button styles end*/
/* global styles end*/


/* SITE HEADER STYLES */
.site-header {
  padding: 30px 0px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo-link {
  text-decoration: none;
  display: flex;
  margin-right: auto;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}


.site-header-log-img {
  width: 35px;
  height: 41.5px;
  object-fit: contain;
  display: block;
}

.site-nav {
  margin-right: 40px;

}

.site-nav-list {
  list-style: none;
  display: flex;
  align-items: center;


}

.site-nav-list-item:not(:last-child) {
  margin-right: 30px;
}

.site-nav-list-item-link {
  display: flex;
  padding-bottom: 3px;
  line-height: normal;
  text-decoration: none;
  color: var(--text-color);
  position: relative;

}

.site-nav-list-item-link::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: 0.4s ease;
}


.site-nav-list-item-link:hover::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: 1s ease;
}




.site-header-form {}

.site-header-form-input {
  width: 165px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

/* SITE HEADER STYLES END*/

/* MAIN SECTION STYLES */
.site-main {
  flex-grow: 1;
}

/* SECTION HERO STYLES */
.hero {
  background-image: url("./img/aple-wotch-clock.jpg");
  background-repeat: no-repeat;
  background-size: 587px 565px;
  background-position: calc(50% + 533.5px) bottom;
  padding: 140px 0px 185px 0px;


}


.all-text-wrapper {
  width: 490px;
}

.all-text-wraper-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--black-color);
  margin-bottom: 30px;

}

.all-text-wraper-text {
  font-size: 16px;
  color: var(--all-text-wraper-text);
  margin-bottom: 30px;
  border-left: 3px solid #888;
  padding-left: 37px;
}



.hero-btn {}

/* SECTION HERO STYLES END*/


/* SECTION FEATURE STYLE */
.features {
  padding: 70px 0px 70px 0px;
  border-top: 2px solid #DDDDDD;
}


.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -80px;

}

.features-list-item {
  width: 280px;
  margin-left: 80px;
}

.features-item-title {
  font-weight: 700;
  line-height: 27px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--black-color);

}

.features-item-item-text {
  margin-bottom: 20px;
}

.feature-item-point {
  display: inline-block;
  width: 8px;
  height: 8px;
  box-shadow: 18px 0px #ddd, 36px 0px #ddd;
  background-color: #dddd;
}

.feature-item-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 25.6px;
  text-transform: uppercase;
  color: var(--brand-color);



}

.feature-item-link::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--brand-color);
  margin-right: 10px;
  transition: width 0.3s ease;

}

.feature-item-link:hover::before {
  width: 50px;
}

/* SECTION FEATURE STYLE END*/
/* SECTION INFO STYLE */
.info {
  padding: 70px 125px;
}

.info-contayner {
   display: flex;
   justify-content: space-between;
   align-items:center;
  }
.all-text-wrapper {
  
}

.info-contayner p {
  font-size: 16px;
  line-height: 24px;

}
.all-text-wraper-title {

}
.all-text-wraper-text {

}
.site-btn {

}
.hero-btn {

}
.site-botom-btn {

}

/* SECTION INFO STYLE END*/


/* SITE BOTTOM STYLE */
.site-botom {
  padding: 240px 0px 240px 0px;
  background-image: url('./img/section-bottom-bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.site-bottom-contayner {
  display: flex;
  justify-content: flex-end;
 
}

.all-text-wrapper {}

.site-botom-text-wraper h2 {
  color: #fff;
}
.site-botom-text-wraper p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border-left: 3px solid #fff;
}
/* SITE BOTTOM STYLE END*/
/* MAIN SECTION STYLES END*/







/* reatina image styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("./img/aple-wotch-clock@2x.jpg");
  }

  .site-botom {
    background-image: url('./img/section-bottom-bg-img@2x.png');
  }
}

/* reatina image styles end */